* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Varela Round', sans-serif;
}
h1 {
    padding-left: 20px;
    color: #1a9fcc;
}
h1:hover {
    font-size: 40px;
    transition-duration: 0.40s;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
li{
    font-size: 20px;
    margin: 50px; 
}
li:hover {
    color:  #1a9fcc;
    transition-duration: 0.40s;
}
#intro {
    background-image: url(./Image/CachorroOuGato-Topo-Abr21.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.naoCompre {
    font-family: 'Varela Round', sans-serif;
    color: #1a9fcc;
    font-size: 40px;
    padding: 30px 0px 20px;
}
.naoCompre:hover {
    color: #cfbbb7;
    transition-duration: 0.40s;
}
.naoCompreTxt {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #ffffff;
    width: 40%;
    padding-bottom: 40px;  
}
.abaixo {
    font-family: 'Varela Round', sans-serif;
    color: #ffffff;
    background-color: #1a9fcc;
    padding: 10px 10px;
    border-radius: 10px;
}
.abaixo:hover {
    background-color: #cfbbb7;
    transition-duration: 0.40s;
} 
#bichos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a9fcc;
}
.bichinhos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.Peludos {
    font-family: 'Varela Round', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 20px 0px
}
.imgbichinho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    padding-top: -10px;
    background-color: #7eccea;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 30%;
}
.imgbichinho h3 {
    font-family: 'Varela Round', sans-serif;
    color: #1a9fcc;
    align-items: center;
    margin: 15px 15px;
}
.imgbichinho img {
    border-radius: 30%;
}
.imgbichinho img:hover{
    transform: scale(1.1);
    transition-duration: 0.40s;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7eccea;
    width: 100%;
    height: 180px;
    flex-wrap: wrap;
}
.madeby {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    width: 100%;
    font-size: 30px;
    margin-top: 3%;
    font-family: 'Libre Barcode 39 Text', cursive;
}
.insta {
    padding-right: 5%;
}
.github {
    padding-right: 5%;
}
.linkedin {
    padding-right: 5%;
}
.gmail {
    padding-right: 5%;
}
.insta:hover {
    transform: scale(1.2);
    transition-duration: 0.40s;
}
.github:hover {
    transform: scale(1.2);
    transition-duration: 0.40s;
}
.linkedin:hover {
    transform: scale(1.2);
    transition-duration: 0.40s;
}
.gmail:hover {
    transform: scale(1.2);
    transition-duration: 0.40s;
}

@media (max-width: 800px) {
    header {
        height: auto;
    }
    h1 {
        display: none;
    }
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #intro {
        width: 100%;
        background-size: 100% 100%;
    }
    .naoCompre {
        text-align: center;
    }
    .naoCompreTxt {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }
    #bichos{
        width: 100%;
    }
    .bichinhos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}